<h1>Project: 120 year Olympic Games</h1>
<b>By: Douglas Cruz</b></br>
<i>Date: July 10, 2023</i></br>
<p>This project is about the last 120 years of olympic games data.</p>

In [ ]:
#Loading datasets
dataset_path = 'C:\\Users\\Douglas\\OneDrive\\workspace\\00_new_start\\Learn_Data_Science\\DataSet_Olympics_Games\\'
dataset_athletes_file = 'athlete_events.csv'
dataset_country_file = 'noc_regions.csv'
import pandas as pd
df_athletes = pd.read_csv(dataset_path + dataset_athletes_file, sep=',', encoding='UTF-8')
df_countries = pd.read_csv(dataset_path + dataset_country_file, sep=',', encoding='UTF-8')

In [ ]:
#checking dataset dada
#df_athletes.head()
df_countries.head()

In [ ]:
#joining the tables
df_stage = pd.merge(df_athletes, df_countries, on = 'NOC', how='left')
df_stage.head()

In [ ]:
#visualization examples
df_stage.head(10)['Name']

In [ ]:
#visualization examples
df_stage.head(10)[['Name']]

In [ ]:
#dataframe total columns and lines
df_stage.shape

In [ ]:
#dataframe schema info
df_stage.info()

In [ ]:
#rename columns name
df_stage.columns

In [ ]:
#rename columns name
df_final = df_stage.rename(columns={'Name':'Nome', 'Sex':'Sexo', 'Age':'Idade', 'Height':'Altura', 'Weight':'Peso', 'Team':'Time', 'NOC':'Pais', 'Games':'Jogos',
       'Year':'Ano', 'Season':'Temporada', 'City':'Cidade', 'Sport':'Esporte', 'Event':'Evento', 'Medal':'Medalha', 'region':'Regiao', 'notes':'Anotacoes'})
df_final.head(10)

In [ ]:
#dropping duplicates
df_final = df_final.drop_duplicates()
df_final.shape

In [ ]:
#verifing null values
df_final.isnull().all()

In [ ]:
#verifing null values
df_final.isnull().any()

In [ ]:
#filtering
df_final[df_final['Altura'].isnull()].head()

In [ ]:
#counting null rows by columns
df_final.isnull().sum()

In [ ]:
#deleting (rows) with nulls on specific column . delete columns with more nulls to columns with less nulls.
df_final = df_final.dropna(subset=['Peso'])
df_final.isnull().sum()

In [ ]:
#deleting (rows) with nulls on specific column . delete columns with more nulls to columns with less nulls.
df_final = df_final.dropna(subset=['Altura'])
df_final.isnull().sum()

In [ ]:
#deleting (rows) with nulls on specific column . delete columns with more nulls to columns with less nulls.
df_final = df_final.dropna(subset=['Idade'])
df_final.isnull().sum()

In [ ]:
#deleting columns where all rows are null. ( axis = 0 means row, axis = 1 means columns )
df_final = df_final.dropna(axis=1, how='all')
df_final.shape

In [ ]:
#deleting columns where some rows have null. ( axis = 0 means row, axis = 1 means columns )
df_final = df_final.dropna(axis=1, how='any')
df_final.shape

In [ ]:
df_final.head()

In [ ]:
#drop columns
df_final = df_final.drop(columns=['Altura'])
df_final.head()

In [ ]:
#distinct values of a columns.
df_final['Cidade'].unique()

In [ ]:
#count of a value, group by column, ordered in desc 
df_final['Sexo'].value_counts()

In [ ]:
#count of a value, group by column, ordered in desc 
df_final['Cidade'].value_counts()

In [ ]:
#count of a value, in percent
df_final['Sexo'].value_counts(normalize=True)

In [ ]:
#count of a value, in percent
df_final['Cidade'].value_counts(normalize=True, sort=True,ascending=False)

In [ ]:
df_final.sort_values(by=['Cidade'])